*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: #999;
}

h1,
h2 {
  font-family: Lato;
}

td {
  font-size: 0.7rem;
  padding: 5px 10px 5px 10px;
  min-width: 5rem;
}

table {
  width: 80%;
  margin: 4rem auto;
  border-spacing: 0;
  border: 1px solid #666;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.165);
}

tr:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03));
}

tr:nth-child(odd) {
  background-color: #eee;
}

tr:nth-child(even) {
  background-color: #ddd;
}

th {
  text-align: left;
  background-color: #eee;
  padding: 15px 5px 15px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.165);
  /* border: none; */
}

th:hover,
button:hover {
  cursor: pointer;
  background-image: linear-gradient(rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06));
}

th:active,
th:active {
  cursor: wait;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2, rgba(0, 0, 0, 0.02)));
  box-shadow: 2px 2px 2px inset #222;
}

button {
  outline: none;
  margin: 10px;
  padding: 4px;
  min-width: 7rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
